html,
body {
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  background-color: #fef;
  transition: background-color .5s ease-in-out;
}

body.flat {
  background-color: #fff;
}

a,
img {
  max-width: 80vh;
  max-height: 80vh;
  box-shadow: 0 0 0 0 transparent, 0 5px 15px -8px rgba(0, 0, 0, .25), 0 8px 10px -5px rgba(0, 0, 0, .2);
  transition: box-shadow .5s ease-in-out;
}

a,
a::before,
img {
    border-radius: 50%;
}

a {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a::before {
  position: absolute;
  top: 10vh;
  left: 5vh;
  right: 5vh;
  bottom: 0;
  content: '';
  background: url(/assets/img/juliyvchirkov.jpg?06/30/2023) 50% 50% / cover no-repeat transparent;
  filter: saturate(2.5) contrast(1.25) blur(15px);
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.flat a::before {
  opacity: 0;
}

img {
  filter: saturate(1.25) contrast(1.025);
}

.flat a,
.flat img {
  box-shadow: 0 0 0 0 transparent;
}
